body {
    background: url(../images/registration_background.jpg) no-repeat center fixed;
    background-size: cover;
}

#container-fluid {
    margin-left: 150px;
}

#login, #password, #confirm-password, #email-address, #phone_number, #sign_up {
    width: 35%;
}

b {
    background-color: blanchedalmond;
    color: red;
}

h1 {
    position: relative;
    left: 200px;
    font-size: 40px;
    color: black;
}

label {
    color: black;
}